@import "reset";

body {
  font: 400 16px / 1 'Merriweather', serif;

  * {
    box-sizing: border-box;
  }
}


.header--main {
  padding: 1em;
  text-align: center;
  height: 25vh;
}


h1 {
  font-weight: 700; 
  font-size: 4.5rem;
}

h2 {
  font-size: 2em;
  position: absolute;
  left: 20%;
  top: 20%;
}

.section {
  background-color: #ddd;
  height: 95vh;
  padding: 1em;
  position: relative;
  width: calc( 100vw - 10em);
  margin: 0 5em 5em;
}

.section:first-of-type {
  height: 75vh; 
}

.svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

img {
  width: 100%;
  height: auto;
}

.characters {
  height: 50vh;
}

// .me {
//   height: 50vh;
// }
  
// .mama-papa {
//   height: 50vh;
// }

// .hermano-hermana {
//   height: 24em;
// }

// .bebe {
//   height: 21em;
// }

// .abuelo-abuela {
//   height: 26em;
// }

// .tio-tia {
//   height: 27em;
// }

// .primo-prima {
//   height: 18em;
// }

// .mascota {
//   height: 15em;
// }

// .familia {
//   height: 15em;
// }

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){

  .section {
    // height: 1024px; 
    height: 972.8px;
  }

  .section:first-of-type {
    height: 768px;
  }

  .header--main {
    height: 256px;
  }

  .characters {
    height: 512px;
  }
}
